our %CFG;

$CFG{accepteula}=1;
$CFG{activecomponent}=[ "SF73" ];
$CFG{keys}{keyless}=[ "STORAGE" ];
$CFG{opt}{configure}=1;
$CFG{opt}{install}=1;
$CFG{opt}{vr}=1;
$CFG{prod}="STORAGE73";
$CFG{systems}=[ qw({{ ansible_hostname}}) ];

1;
